@font-face
  font-family 'Raleway'
  src url('../css/Raleway/Raleway.eot')
  src url('../css/Raleway/Raleway.eot?#iefix') format('embedded-opentype'), 
       url('../css/Raleway/Raleway.woff2') format('woff2'), 
       url('../css/Raleway/Raleway.woff') format('woff'), 
       url('../css/Raleway/Raleway.ttf')  format('truetype'), 
       url('../css/Raleway/Raleway.svg#svgFontName') format('svg')

@font-face
  font-family 'Open Sans'
  src url('../css/OpenSans/OpenSans.eot')
  src url('../css/OpenSans/OpenSans.eot?#iefix') format('embedded-opentype'), 
       url('../css/OpenSans/OpenSans.woff2') format('woff2'), 
       url('../css/OpenSans/OpenSans.woff') format('woff'), 
       url('../css/OpenSans/OpenSans.ttf')  format('truetype'), 
       url('../css/OpenSans/OpenSans.svg#svgFontName') format('svg')