@media screen and (max-width: 480px)
	.about
		padding 1em 1em	
		&__description
			display block
			&__content
				display block
				margin 1em 0
				width 100%
				&__item
					.btn
						position relative
				.triangles
					&__center
						border-left 2px solid gris_claro
						transform skew(60deg)
						transform-origin 0 0
	
	.contact
		display block
		&__container
			display block
		&__description
		&__form
			width 100%
		&__description
			font-size 0.8rem
			&__item
				width 48% 
				.fa
					font-size 1.5rem
					width 10%
				.data
					width 90%
					p
						color red
						display inline-block
	.footer
		display block
		padding-bottom 1rem
		&__social	
		&__logo
		&__copy
			width 100%
		&__logo
			figure
				position relative
				margin-left auto
				figcaption
					display inline-block
					top: 0.5em;
					position: absolute;
					margin-left: .5em;
				
	.header
		display block
		padding 0
		&__navigation__dropdown, 
		&__logo
			display block
			
		&__logo
			background red
			width 100%
		&__navigation
			display none

	.latest-blog
		&__header
			margin 0 1rem
		&__container
			margin 0
			padding 0
		&__center
			&__item
				&:nth-child(1)
				&:nth-child(2)
					display none
			
	
	.contact
	.parallax
	.stats
		padding 1em 2em	
		
	.stats
		display block
		width 100%
		&__item
			display inline-block
			margin .5em 0
			width 48%
			
@media screen and (min-width: 481px) and (max-width: 950px)
	.about
		padding 1em 2em	
		&__description
			display block
			&__content
				display block
				margin 1em 0
				width 100%
				&__item
					.btn
						position relative
				.triangles
					&__center
						border-left 2px solid gris_claro
						transform skew(70deg)
						transform-origin 0 0
	.contact
		display block
		&__container
			display block
		&__description
		&__form
			width 100%
		&__description
			display flex
			font-size 0.8rem
	.header
		padding .5em 1em
		&__list
			&__item
				padding 0 .3em

	.latest-blog
		&__container
			margin 0
			padding 0
		&__center
			&__item
				&:last-child
					display none
			
	
	.contact
	.parallax
	.stats
		padding 1em 2em	
		
	.stats
		display block
		width 100%
		&__item
			display inline-block
			margin .5em 0
			width 48%
		