/*
* Box Utilities
*/
.left
	float left
.right
	float right


/*
 *Text utilities
 */
.lowercase
	text-transform lowercase
.uppercase
	text-transform uppercase
	

.text-left
	text-align left
.text-top
	text-align top
.text-right
	text-align right
.text-bottom
	text-align bottom