.background
	&--orange
		background-color naranja !important
	&--white
		background-color white !important

/*
* Box Utilities
*/
.left
	float left
.right
	float right
.rounded
	border-radius 50%


/*
 *Text utilities
 */
.lowercase
	text-transform lowercase
.uppercase
	text-transform uppercase
	

.text-left
	text-align left
.text-top
	text-align top
.text-right
	text-align right
.text-bottom
	text-align bottom
	
.triangle
	display flex
	height 1.5em
	&__left
	&__right
		width 50%
	&__left
		background white
	&__right
		background background_header_sidebar
		position relative
		&:before
			content ""
			position absolute
			border-left 1em solid transparent
			border-right 1em solid transparent
			border-bottom 1.5em solid white
			border-top 1em solid transparent
			bottom 0
			left -1em
.triangle	
	&__parallax
		.triangle__left
			background naranja_claro
		.triangle__right
			background white
			&:before
				border-bottom 1.5em solid naranja_claro
.triangle	
	&__porfolio
		.triangle__left
			background gris_claro
		.triangle__right
			background white
			&:before
				border-bottom 1.5em solid gris_claro