background_header 		  		= #2e3844
background_header_suave   		= #384656
background_header_sidebar 		= #51555C
background_header_sidebar_claro = #7D838E


naranja 	   = #ff3c1f
naranja_obscuro = #CA361F
negro   = #272727
negro_claro = #5A5959

gris 		 = #fafafa
gris_obscuro = #D5CDCD


